@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
 box-sizing: border-box;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
  }

  .masthead {
    background-color: lightgrey;
    color: #fff;
  }

  .logo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5.2em;
    margin-left: .65rem;
    width: 6%;
  }

  .title {
    font-size: 1.2rem;
    margin: 0.3em;
    display: inline-block;
    font-family: 'Homemade Apple', cursive;
    color: black;
    position: relative;
  }

  .nav li{
    display: inline-block;
  }

  .nav {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    background-color: lightgrey;
    clear: both;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
  }

  .nav a {
    padding: 1em;
    color: black;
    text-decoration: none;
  }

  li a:hover {
    color: white;
  }

.billboard {
  position: relative;
  width: 100%;
  margin: 0;
  }

.image {
  position: relative;
  width: 100%;
  max-height: 430px;
  overflow: hidden;
}

.bigtext {
  font-size: 2.8rem;
  font-weight: 200;
  text-align: center;
  position: absolute;
  bottom: 0.1em;
  left: 0;
  width: 100%;
  padding: 1em;
  margin: 0;
  color: white;

}

  p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin: .65rem;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }

  .text{
    padding-bottom: 0.5rem;

  }

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    margin: .65rem;
    padding-bottom: 0.6rem;
  }

  .box {
    margin: .65rem;
    width: calc(100% - 1.3rem);
    display: block;
    border: 5px solid lightgrey;
  }

  footer {
    text-align: center;
    padding: 0.3em;
    clear: both;
  }

  .footer {
    font-size: 0.7rem;
    margin: 0.3em;
    font-weight: 400;
  }

  .boxes {
    clear: both;
  }

  .icons {
    margin: 1rem;
    text-align: center;
  }

  img {
  width: 10%;
  margin: 0.5rem;
}

  @media only screen and (min-width:34em) {

  .text {
    display: inline-block;
    float: left;
    width: 50%;
  }

  p {
    font-size: 0.9rem;
    margin: 1.4em;
  }

  h1 {
    font-size: 0.9rem;
    margin: 1.4em;
  }

  .nav {
    font-size: 0.9em;
  }

  .box {
    margin: 1.4rem;
    width: calc(50% - 2.8rem);
    display: inline-block;
    float: left;
  }

 .logo {
   margin: 1rem;
   width: 4%;
 }

 .title {
   font-size:1.3em;
 }

 li {
   margin-left: 1.8em;
 }

 img {
 width: 5%;
 margin: 0.5rem;
}
}

@media only screen and (min-width:60em) {

  .text {
    display: inline-block;
    float: left;
    width: 25%;
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin: 1.4rem;
    font-size: 1rem;
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 1.4rem;
  }

  .nav{
    font-size: 1.3em;
  }

  .box {
    margin: 1.4rem;
    width: calc(25% - 2.8rem);
    display: inline-block;
    float: left;
  }

  .intro {
    margin-right: 21rem;
  }

 .logo {
   margin: 1.5em;
   width: 4%;
 }

 .title {
   font-size:1.5em;
 }

 li {
   margin-left: 2em;
 }

}

 @media print{

  main a::after{
    content: " (" attr(href) ")";
  }

  nav {
    display: none;
  }

  footer {
    display: none;
  }

  .icons {
    display: none;
  }

  .boxes {
    width: 40%;
  }

  .billboard {
    width: 40%;
  }

  .bigtext {
    display: none;
  }

}
